#!/bin/bash

mysql={{ pillar['mysql_installdir'] }}/bin/mysql
master_ip=192.168.197.128
repl_user=repl
repl_password=repl123456!
log_file=$($mysql -u$repl_user -p$repl_password -h$master_ip -e "show master status"|grep "mysql-bin"|awk '{print $1}')
log_pos=$($mysql -u$repl_user -p$repl_password -h$master_ip -e "show master status"|grep "mysql-bin"|awk '{print $2}')

$mysql -e "
CHANGE MASTER TO
     MASTER_HOST='$master_ip',
     MASTER_USER='$repl_user',
     MASTER_PASSWORD='$repl_password',
     MASTER_LOG_FILE='$log_file',
     MASTER_LOG_POS=$log_pos;
     start slave
"
sleep 3
$mysql -e "show slave status \G"

