#!/bin/bash
cd /usr/src/php-{{ pillar['php_version'] }}
./configure --prefix="{{ pillar['php_installdir'] }}" \
  --with-config-file-path=/etc \
  --enable-fpm \
  --disable-debug \
  --disable-rpath \
  --enable-shared \
  --enable-soap \
  --with-openssl \
  --enable-bcmath \
  --with-iconv \
  --with-bz2 \
  --enable-calendar \
  --with-curl \
  --enable-exif  \
  --enable-ftp \
  --enable-gd \
  --with-jpeg \
  --with-zlib-dir \
  --with-freetype \
  --with-gettext \
  --enable-mbstring \
  --enable-pdo \
  --with-mysqli=mysqlnd \
  --with-pdo-mysql=mysqlnd \
  --with-readline \
  --enable-shmop \
  --enable-simplexml \
  --enable-sockets \
  --with-zip \
  --enable-mysqlnd-compression-support \
  --with-pear \
  --enable-pcntl \
  --enable-posix && make && make install
